/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

main {
    display: flex;
    flex-direction: column;
    height: 80em;
    width: 375px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 33%;
    width: 375px;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

img {
    align-self: flex-start;
    height: 2.2em;
    width: 3.2em;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: x-large;
    text-transform: uppercase;
    color: white;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: hsla(0, 0%, 100%, 0.75);
}

button {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    height: 3em;
    width: 10em;
    border: 0;
    border-radius: 25px;
}

.sedanButton {
    color: hsl(31, 77%, 52%);
}

.suvButton {
    color: hsl(184, 100%, 22%);
}

.luxuryButton {
    color: hsl(179, 100%, 13%);
}